[[source]]
url = "https://pypi.douban.com/simple/"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
sqlalchemy = "*"
pymysql = "*"
pymongo = "*"
flask = "*"
flask-sqlalchemy = "*"
redis = "*"
records = "*"
celery = "*"
apscheduler = "*"
flask-uploads = "*"
feedparser = "*"
flask-socketio = "==3.1.2"
eventlet = "*"
gunicorn = "==18.0"
python-dotenv = "*"

[dev-packages]
mypy = "*"
"flake8" = "*"
pytest = "*"
nose = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
