[[source]]

url = "https://pypi.douban.com/simple/"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
sqlalchemy = "*"
pymysql = "*"
pymongo = "*"
flask = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
redis = "*"
records = "*"
celery = "*"
apscheduler = "*"
flask-uploads = "*"
feedparser = "*"
flask-socketio = "*"


[dev-packages]

mypy = "*"
"flake8" = "*"
pytest = "*"
nose = "*"


[requires]

python_version = "3.6"
