[[source]]

url = "https://pypi.douban.com/simple/"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
click = "*"
sqlalchemy = "*"
pymysql = "*"
pymongo = "*"
flask = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
redis = "*"
flask-security = "*"
flask-admin = "*"
records = "*"
celery = "*"
apscheduler = "*"
tzlocal = "*"
flask-uploads = "*"
numpy = "*"
pandas = "*"
"flake8" = "*"
fabric = "*"
gevent = "*"
flask-socketio = "*"


[dev-packages]

mypy = "*"
pylint = "*"
"flake8" = "*"
nose = "*"
pytest = "*"


[requires]

python_version = "3.6"
